SDK/sources/M2M/resources/customerAlarm_V2_15.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="customerAlarm" targetNamespace="http://webservice.malima.francetelecom.com/v2"
  xmlns:tns="http://webservice.malima.francetelecom.com/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:sca="http://customeAlarmV2.types.malima.francetelecom.com">

  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    --------------------------------------------------------------------
    Contract interface documentation
    ----------------------------------
    Document release: V2.15
    Author (Entity): David FORICHER (ITLabs)
    Creation date: 12/09/2012
    Description: Malima Service customer alarm
    --------------------------------------------------------------------
    Changes history
    ----------------------------------
    Version Date Comments
	V2.15 26/08/2014 Evol BR (Business Rules), add the "businessRules" node on methods
    V2.14 24/09/2013 Add M2M_SUBSCRIPTION_OPTION_TRIGGER in the TriggerType enumeration
    V2.13 11/09/2013 Add Subscription Option change Alarm
    V2.12 14/08/2013 Add M2M Subscription Status change Alarm
    V2.11 14/08/2013 Remove M2M Subscription Status change
    V2.10 28/07/2013 Add M2M Subscription Status change Alarm , Add Crazy Machine Trigger and Alarm
    V2.9 08/09/2013 Add M2M change subscription status trigger (M2M_SUBSCRIPTION_STATUS_TRIGGER).
    V2.8 25/06/2013 Correct the choice in the listTriggerRequest. Booleans must not be a part of the choice.
    V2.7 23/05/2013 Add TRAFFIC_SILENT_MACHINE value in the TriggerType enumeration
    V2.6 17/05/2013 Add SilentMachine triggers
    V2.5 30/04/2013 Add Notification by mail
    V2.4 17/04/2013 Add lazyMachine value in the TriggerType enumeration
    V2.3 04/04/2013 Add lazyMachine triggers and alarms + add all_origin mode
    V2.2 ManageAlarms operation added
    V2.0 12/09/2012 Alarm thresholds extended to 64 bits
    V1.0 18/11/2009 Malima services harmonization
    V0.1 20/10/2009 Beta version
    --------------------------------------------------------------------
  </wsdl:documentation>

  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://webservice.malima.francetelecom.com/v2" xmlns="http://www.w3.org/2001/XMLSchema">

      <!-- External schemas import -->
      <import namespace="http://customeAlarmV2.types.malima.francetelecom.com" schemaLocation="customerAlarm_V2.xsd" />

      <!-- create trigger request -->
      <element name="createTrigger">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:CreateTriggerIn" />
          </sequence>
        </complexType>
      </element>
      <!-- create trigger response -->
      <element name="createTriggerResponse">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:CreateTriggerOut" />
          </sequence>
        </complexType>
      </element>
      <!-- delete trigger request -->
      <element name="deleteTrigger">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:DeleteTriggerIn" />
          </sequence>
        </complexType>
      </element>
      <!-- delete trigger response -->
      <element name="deleteTriggerResponse">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:DeleteTriggerOut" />
          </sequence>
        </complexType>
      </element>
      <!-- Update trigger request -->
      <element name="updateTrigger">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:UpdateTriggerIn" />
          </sequence>
        </complexType>
      </element>
      <!-- Update trigger request -->
      <element name="updateTriggerResponse">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:UpdateTriggerOut" />
          </sequence>
        </complexType>
      </element>
      <!-- List triggers request -->
      <element name="listTriggers">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:ListTriggersIn" />
          </sequence>
        </complexType>
      </element>
      <!-- list triggers response -->
      <element name="listTriggersResponse">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:ListTriggersOut" />
          </sequence>
        </complexType>
      </element>
      <!-- get alarm request -->
      <element name="getAlarms">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:GetAlarmsIn" />
          </sequence>
        </complexType>
      </element>
      <!-- get alarm response -->
      <element name="getAlarmsResponse">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:GetAlarmsOut" />
          </sequence>
        </complexType>
      </element>
      <!-- search alarm request -->
      <element name="searchAlarms">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:SearchAlarmsIn" />
          </sequence>
        </complexType>
      </element>
      <!-- search alarm response -->
      <element name="searchAlarmsResponse">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:SearchAlarmsOut" />
          </sequence>
        </complexType>
      </element>
      <!-- manage alarm request -->
      <element name="manageAlarms">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:ManageAlarmsIn" />
          </sequence>
        </complexType>
      </element>
      <element name="manageAlarmsResponse">
        <complexType>
          <sequence>
            <group minOccurs="1" maxOccurs="1" ref="sca:ManageAlarmsOut" />
          </sequence>
        </complexType>
      </element>

    </schema>
  </wsdl:types>


  <!-- create trigger request -->
  <wsdl:message name="createTriggerRequest">
    <wsdl:part name="createTrigger" element="tns:createTrigger" />
  </wsdl:message>
  <wsdl:message name="createTriggerResponse">
    <wsdl:part name="createTrigger" element="tns:createTriggerResponse" />
  </wsdl:message>

  <!-- delete trigger request -->
  <wsdl:message name="deleteTriggerRequest">
    <wsdl:part name="deleteTrigger" element="tns:deleteTrigger" />
  </wsdl:message>
  <wsdl:message name="deleteTriggerResponse">
    <wsdl:part name="deleteTrigger" element="tns:deleteTriggerResponse" />
  </wsdl:message>

  <!-- update trigger request -->
  <wsdl:message name="updateTriggerRequest">
    <wsdl:part name="updateTrigger" element="tns:updateTrigger" />
  </wsdl:message>
  <wsdl:message name="updateTriggerResponse">
    <wsdl:part name="updateTrigger" element="tns:updateTriggerResponse" />
  </wsdl:message>

  <!-- list triggers request -->
  <wsdl:message name="listTriggersRequest">
    <wsdl:part name="listTriggers" element="tns:listTriggers" />
  </wsdl:message>
  <wsdl:message name="listTriggersResponse">
    <wsdl:part name="listTriggers" element="tns:listTriggersResponse" />
  </wsdl:message>

  <!-- getAlarms -->
  <wsdl:message name="getAlarmsRequest">
    <wsdl:part name="getAlarms" element="tns:getAlarms" />
  </wsdl:message>
  <wsdl:message name="getAlarmsResponse">
    <wsdl:part name="getAlarms" element="tns:getAlarmsResponse" />
  </wsdl:message>

  <!-- searchAlarms -->
  <wsdl:message name="searchAlarmsRequest">
    <wsdl:part name="searchAlarms" element="tns:searchAlarms" />
  </wsdl:message>
  <wsdl:message name="searchAlarmsResponse">
    <wsdl:part name="searchAlarms" element="tns:searchAlarmsResponse" />
  </wsdl:message>

  <!-- manageAlarms -->
  <wsdl:message name="manageAlarmsRequest">
    <wsdl:part name="manageAlarms" element="tns:manageAlarms" />
  </wsdl:message>
  <wsdl:message name="manageAlarmsResponse">
    <wsdl:part name="manageAlarms" element="tns:manageAlarmsResponse" />
  </wsdl:message>

  <!-- Faults -->
  <wsdl:message name="unknownLineIdentifierErrorFault">
    <wsdl:part name="parameters" element="sca:UnknownLineIdentifierError" />
  </wsdl:message>
  <wsdl:message name="unknownCustomerEnvironnementNumberErrorFault">
    <wsdl:part name="parameters" element="sca:UnknownCustomerEnvironnementNumberError" />
  </wsdl:message>
  <wsdl:message name="malimaErrorFault">
    <wsdl:part name="parameters" element="sca:MalimaError" />
  </wsdl:message>
  <wsdl:message name="triggerErrorFault">
    <wsdl:part name="parameters" element="sca:TriggerError" />
  </wsdl:message>
  <wsdl:message name="unknownTriggerIdentifierErrorFault">
    <wsdl:part name="parameters" element="sca:UnknownTriggerIdentifierError" />
  </wsdl:message>
  <wsdl:message name="tooManyResultsErrorFault">
    <wsdl:part name="parameters" element="sca:TooManyResultsError" />
  </wsdl:message>
  <wsdl:message name="tooManyAlarmIdentifiersErrorFault">
    <wsdl:part name="parameters" element="sca:TooManyAlarmIdentifiersError" />
  </wsdl:message>
  <wsdl:message name="alarmErrorFault">
    <wsdl:part name="parameters" element="sca:AlarmError" />
  </wsdl:message>
  <wsdl:message name="triggerLimitExceededErrorFault">
    <wsdl:part name="parameters" element="sca:TriggerLimitExceededError" />
  </wsdl:message>


  <wsdl:portType name="ICustomerAlarm">
    <!-- create trigger request -->
    <wsdl:operation name="createTrigger">
      <wsdl:input name="createTriggerRequest" message="tns:createTriggerRequest" />
      <wsdl:output name="createTriggerResponse" message="tns:createTriggerResponse" />
      <wsdl:fault name="unknownLineIdentifierError" message="tns:unknownLineIdentifierErrorFault" />
      <wsdl:fault name="unknownCustomerEnvironnementNumberError" message="tns:unknownCustomerEnvironnementNumberErrorFault" />
      <wsdl:fault name="malimaError" message="tns:malimaErrorFault" />
      <wsdl:fault name="triggerError" message="tns:triggerErrorFault" />
      <wsdl:fault name="triggerLimitExceededError" message="tns:triggerLimitExceededErrorFault" />
    </wsdl:operation>

    <!-- delete trigger request -->
    <wsdl:operation name="deleteTrigger">
      <wsdl:input name="deleteTriggerRequest" message="tns:deleteTriggerRequest" />
      <wsdl:output name="deleteTriggerResponse" message="tns:deleteTriggerResponse" />
      <wsdl:fault name="malimaError" message="tns:malimaErrorFault" />
      <wsdl:fault name="unknownTriggerIdentifierError" message="tns:unknownTriggerIdentifierErrorFault" />
    </wsdl:operation>

    <!-- update trigger request -->
    <wsdl:operation name="updateTrigger">
      <wsdl:input name="updateTriggerRequest" message="tns:updateTriggerRequest" />
      <wsdl:output name="updateTriggerResponse" message="tns:updateTriggerResponse" />
      <wsdl:fault name="unknownTriggerIdentifierError" message="tns:unknownTriggerIdentifierErrorFault" />
      <wsdl:fault name="malimaError" message="tns:malimaErrorFault" />
      <wsdl:fault name="triggerError" message="tns:triggerErrorFault" />
    </wsdl:operation>

    <!-- list triggers request -->
    <wsdl:operation name="listTriggers">
      <wsdl:input name="listTriggersRequest" message="tns:listTriggersRequest" />
      <wsdl:output name="listTriggersResponse" message="tns:listTriggersResponse" />
      <wsdl:fault name="unknownCustomerEnvironnementNumberError" message="tns:unknownCustomerEnvironnementNumberErrorFault" />
      <wsdl:fault name="malimaError" message="tns:malimaErrorFault" />
      <wsdl:fault name="tooManyResultsError" message="tns:tooManyResultsErrorFault" />
    </wsdl:operation>

    <!-- get alarms request -->
    <wsdl:operation name="getAlarms">
      <wsdl:input name="getAlarmsRequest" message="tns:getAlarmsRequest" />
      <wsdl:output name="getAlarmsResponse" message="tns:getAlarmsResponse" />
      <wsdl:fault name="tooManyAlarmIdentifiersError" message="tns:tooManyAlarmIdentifiersErrorFault" />
      <wsdl:fault name="malimaError" message="tns:malimaErrorFault" />
    </wsdl:operation>

    <!-- search alarms request -->
    <wsdl:operation name="searchAlarms">
      <wsdl:input name="searchAlarmsRequest" message="tns:searchAlarmsRequest" />
      <wsdl:output name="searchAlarmsResponse" message="tns:searchAlarmsResponse" />
      <wsdl:fault name="unknownCustomerEnvironnementNumberError" message="tns:unknownCustomerEnvironnementNumberErrorFault" />
      <wsdl:fault name="malimaError" message="tns:malimaErrorFault" />
      <wsdl:fault name="tooManyResultsError" message="tns:tooManyResultsErrorFault" />
    </wsdl:operation>

    <!-- manage alarms request -->
    <wsdl:operation name="manageAlarms">
      <wsdl:input name="manageAlarmsRequest" message="tns:manageAlarmsRequest" />
      <wsdl:output name="manageAlarmsResponse" message="tns:manageAlarmsResponse" />
      <wsdl:fault name="malimaError" message="tns:malimaErrorFault" />
      <wsdl:fault name="tooManyAlarmIdentifiersError" message="tns:tooManyAlarmIdentifiersErrorFault" />
    </wsdl:operation>

  </wsdl:portType>


  <wsdl:binding name="CustomerAlarmSoapBinding" type="tns:ICustomerAlarm">

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <!-- create trigger request -->
    <wsdl:operation name="createTrigger">
      <soap:operation />
      <wsdl:input name="createTriggerRequest">
        <soap:body use="literal" parts="createTrigger" />
      </wsdl:input>
      <wsdl:output name="createTriggerResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="unknownLineIdentifierError">
        <soap:fault name="unknownLineIdentifierError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="unknownCustomerEnvironnementNumberError">
        <soap:fault name="unknownCustomerEnvironnementNumberError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="malimaError">
        <soap:fault name="malimaError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="triggerError">
        <soap:fault name="triggerError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="triggerLimitExceededError">
        <soap:fault name="triggerLimitExceededError" use="literal" />
      </wsdl:fault>
    </wsdl:operation>


    <!-- delete trigger request -->
    <wsdl:operation name="deleteTrigger">
      <soap:operation />
      <wsdl:input name="deleteTriggerRequest">
        <soap:body use="literal" parts="deleteTrigger" />
      </wsdl:input>
      <wsdl:output name="deleteTriggerResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="malimaError">
        <soap:fault name="malimaError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="unknownTriggerIdentifierError">
        <soap:fault name="unknownTriggerIdentifierError" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <!-- update trigger request -->
    <wsdl:operation name="updateTrigger">
      <soap:operation />
      <wsdl:input name="updateTriggerRequest">
        <soap:body use="literal" parts="updateTrigger" />
      </wsdl:input>
      <wsdl:output name="updateTriggerResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="unknownTriggerIdentifierError">
        <soap:fault name="unknownTriggerIdentifierError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="malimaError">
        <soap:fault name="malimaError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="triggerError">
        <soap:fault name="triggerError" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <!-- list triggers request -->
    <wsdl:operation name="listTriggers">
      <soap:operation />
      <wsdl:input name="listTriggersRequest">
        <soap:body use="literal" parts="listTriggers" />
      </wsdl:input>
      <wsdl:output name="listTriggersResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="malimaError">
        <soap:fault name="malimaError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="unknownCustomerEnvironnementNumberError">
        <soap:fault name="unknownCustomerEnvironnementNumberError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="tooManyResultsError">
        <soap:fault name="tooManyResultsError" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <!-- get alarms request -->
    <wsdl:operation name="getAlarms">
      <soap:operation />
      <wsdl:input name="getAlarmsRequest">
        <soap:body use="literal" parts="getAlarms" />
      </wsdl:input>
      <wsdl:output name="getAlarmsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="malimaError">
        <soap:fault name="malimaError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="tooManyAlarmIdentifiersError">
        <soap:fault name="tooManyAlarmIdentifiersError" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <!-- search alarms request -->
    <wsdl:operation name="searchAlarms">
      <soap:operation />
      <wsdl:input name="searchAlarmsRequest">
        <soap:body use="literal" parts="searchAlarms" />
      </wsdl:input>
      <wsdl:output name="searchAlarmsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="malimaError">
        <soap:fault name="malimaError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="unknownCustomerEnvironnementNumberError">
        <soap:fault name="unknownCustomerEnvironnementNumberError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="tooManyResultsError">
        <soap:fault name="tooManyResultsError" use="literal" />
      </wsdl:fault>
    </wsdl:operation>


    <!-- manage alarms request -->
    <wsdl:operation name="manageAlarms">
      <soap:operation />
      <wsdl:input name="manageAlarmsRequest">
        <soap:body use="literal" parts="manageAlarms" />
      </wsdl:input>
      <wsdl:output name="manageAlarmsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="malimaError">
        <soap:fault name="malimaError" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="tooManyAlarmIdentifiersError">
        <soap:fault name="tooManyAlarmIdentifiersError" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>


  <wsdl:service name="CustomerAlarm">
    <wsdl:port name="CustomerAlarmSoapBinding" binding="tns:CustomerAlarmSoapBinding">
      <soap:address location="http://localhost:9000/malima-ws/ws/serviceCustomerAlarm/v2" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
